# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.buildlog/

.idea/
.vscode/
*.iml

# Android
/android/.gradle/
/android/app/debug.keystore
**/local.properties

# iOS
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# macOS
macos/Flutter/ephemeral/

# Firebase functions build
functions/node_modules/
functions/lib/
functions/.env
functions/.firebase/

# OS / Editor
.DS_Store
*.log
.env
.env.local
build/Release
